<div class="modal-header py-2 px-3 border-bottom" [class]="estiloPersonalizado">
  <ng-container [ngSwitch]="tamanoTitulo">
    <h3 *ngSwitchCase="'h3'" class="modal-title m-0 fw-semibold">{{titulo}}</h3>
    <h4 *ngSwitchCase="'h4'" class="modal-title m-0 fw-semibold">{{titulo}}</h4>
    <h5 *ngSwitchCase="'h5'" class="modal-title m-0 fw-semibold">{{titulo}}</h5>
    <h6 *ngSwitchCase="'h6'" class="modal-title m-0 fw-semibold">{{titulo}}</h6>
  </ng-container>

  @if (mostrarCerrar) {
    <button type="button"
            class="btn-close btn-sm"
            aria-label="Close"
            (click)="dismissEvent()"
            data-bs-dismiss="modal">
    </button>
  }
</div>
